body{
    background-image: url("image/phone-wallpaper-2061709.jpg");
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
}

.banner {
    margin: 150px auto 40px auto;
    font-weight: 500;
    display: flex;
  }
  
  .center-me {
    color: #FFF;
    font-size: 50px;
    margin: auto;
  }
  #banner{
    background-image: url("image/pexels-evgenia-basyrova-5028853.jpg");
    height: 400px;
    background-size: cover;
  }
  #ourprocess{
    background-color: #282828;
    color: white;
    padding: 40px 20px 0;
}
.text-reset{
    text-decoration: none;
}
.nav-link:hover{
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
}
.text-reset:hover{
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  padding: 10px;
}