body{
    background-image: url("image/phone-wallpaper-2061709.jpg");
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
}

.banner {
    margin: 150px auto 40px auto;
    font-weight: 500;
    display: flex;
  }
  
  .center-me {
    color: #FFF;
    font-size: 50px;
    margin: auto;
  }
  #banner{
    background-image: url("image/pexels-evgenia-basyrova-5028853.jpg");
    height: 400px;
    background-size: cover;
  }
  #ourprocess{
    background-color: #282828;
    color: white;
    padding: 40px 20px 0;
}
.text-reset{
    text-decoration: none;
}
.nav-link:hover{
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
}
.text-reset:hover{
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.form-control {
	box-shadow: none;
	border-color: #ddd;
}
.form-control:focus {
	border-color: #FB6E9D;
	box-shadow: 0 0 8px rgba(251,110,157,0.4);
}
.modal-login {
	color: #434343;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 1px;
	border: none;
	position: relative;
}
.modal-login .modal-header {
	border-bottom: none;
}
.modal-login h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: -10px;
}
.modal-login .avatar {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4CAF50;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar i {
	font-size: 62px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 1px; 
	transition: all 0.5s;
}    
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .btn {
	background: #4CAF50;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #4CAF50;
}
.modal-login .hint-text a {
	color: #282828;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
