

.banner-area{
    background-image: url("image/pexels-quang-nguyen-vinh-2132227.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    position: fixed;
    width: 100%;
    display: flex;
}
.banner-area::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}
.banner-area h1{
    padding-top: 8%;
    font-size: 80px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.banner-text{
    color: white;
    top: 70px;

}
.banner-text h1{
    font-size: 4rem;
}
@media all and (max-width: 500px) {
    .banner-area h1{
        font-size: 50px;
    }
    .card{
        width: 18rem;
    }
    
}
.content-area{
    width: 100%;
    height: 1000px;
    position: relative;
    background: #fff;
    top: 300px;
}
.content-area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}
.card-text{
    font-family: 'poppins',sans-serif;
}
.form-control {
	box-shadow: none;
	border-color: #ddd;
}
.form-control:focus {
	border-color: #FB6E9D;
	box-shadow: 0 0 8px rgba(251,110,157,0.4);
}
.modal-login {
	color: #434343;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 1px;
	border: none;
	position: relative;
}
.modal-login .modal-header {
	border-bottom: none;
}
.modal-login h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: -10px;
}
.modal-login .avatar {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4CAF50;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar i {
	font-size: 62px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 1px; 
	transition: all 0.5s;
}    
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .btn {
	background: #4CAF50;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #4CAF50;
}
.modal-login .hint-text a {
	color: #282828;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.text-reset{
    text-decoration: none;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
	border-radius: 10px;
    
  }
  .button a{
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
  }
  .nav-link:hover{
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
  }
.text-reset:hover{
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
.prod-image{
    overflow: hidden;
}
.prod-image img {
    transition: all 1.5s ease;
}
.prod-image:hover img{
    transform: scale(1.5);
}